body {
    background: beige;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.heading{
    font-size: 100px;
}
.subsection{
    color:blue;
    font-size: 40px;
}

.list{
    font-size: 20px;
}

.recipes{
    margin-bottom: 1px;
    
}

.homelinks{
    text-align: right;
    font-size: 50px;


}